Source: ilff
Section: misc
Priority: optional
Maintainer: Johannes Willkomm <j.willkomm@fionec.de>
Build-Depends: debhelper-compat (= 13), dh-python, python3-all, python3-build, python3-setuptools
Standards-Version: 4.5.1
Homepage: https://ai-and-it.de/
Rules-Requires-Root: no

Package: python3-ilff
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3, libilff0
Description: Indexed line file format (ILFF) for Python
 Indexed line file format (ILFF) for Python is a lightweight package
 for writing and reading line-based files with an index. Writing is
 only allowed to append to the file, so the index can be maintained by
 appending, too. Single lines or block of lines can be retrieved
 efficiently regardless of the length of the file. Re-indexing an
 existing file can be achieved with the ilff-reindex command.

Package: libilff0
Architecture: any
Depends:
Description: Indexed line file format (ILFF) for C
 Indexed line file format (ILFF) is a lightweight package for writing
 and reading line-based files with an index. Writing is only allowed
 to append to the file, so the index can be maintained by appending,
 too. Single lines or block of lines can be retrieved efficiently
 regardless of the length of the file. Re-indexing an existing file
 can be achieved with the reindex function.

Package: libilff-dev
Architecture: any
Depends: libilff0 (=${binary:Version})
Description: Indexed line file format (ILFF) for C
 Development files for the ILFF C library.
